<form name="requestLoan">
  <div class="form-group">
    <label for="customerId">Customer ID</label>
    <input class="form-control" cam-variable-type="String" cam-variable-name="customerId" name="customerId" />
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input class="form-control" cam-variable-type="Double" cam-variable-name="amount" name ="amount" />
  </div>
    

    <div class="form-group">
    <label for="apiResponse">Api Response</label>
    <input class="form-control" 
    	cam-variable-type="String" 
    	cam-variable-name="apiResponse" 
    	name="apiResponse" 
    	ng-model = "apiresponse"/>
    	
  </div>


  <div class="form-group">
  <label for="userSelect">Users</label>
<select  name ="userSelect" ng-model="selectedUser">
         <option ng-repeat="user in apiUsers" value="{{user.username}}">{{user.username}}</option>
     </select>  
  
   </div> 
  
  <div class="form-group">
  <label for="mailSelect">Users mail</label>
<select  name ="mailSelect" ng-model="selectedMail">
         <option ng-repeat="user in apiUsers" value="{{user.email}}">{{user.email}}</option>
     </select>  
  
   </div> 
    <div class="form-group">
  <label for="numSelect">Numeros</label>
<select  name ="numSelect" ng-model="selectedNum">
         <option ng-repeat="n in nums" value="{{n.index}}">{{n.name}}</option>
     </select>  
  
   </div> 
  
  
  <p class="input-group">

  <input type="text"
       cam-variable-name="CONTRACT_START_DATE"
       cam-variable-type="Date"
       class="form-control"
       datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
       is-open="dateFieldOpened" />

  <span class="input-group-btn">
    <button type="button"
            class="btn btn-default"
            ng-click="open($event)">
      <i class="glyphicon glyphicon-calendar"></i>
    </button>
  </span>
</p>
  
  
  


  <script cam-script type="text/form-script">



 $scope.open = function($event) {
    $event.preventDefault();
    $event.stopPropagation();

    $scope.dateFieldOpened = true;
  };


  inject([ '$scope', '$http', function($scope, $http) {
      camForm.on('form-loaded', function() {
        // use injected $http service for making requests

		var url = "https://api-ak.wunderground.com/api/606f3f6977348613/history_2016012320160131/units:metric/v:2.0/q/pws:KNYNEWYO395.json?callback=jsonp_callback" ;
      
	   $http.get("http://jsonplaceholder.typicode.com/users").then(function(res) {
			console.log(res);
			$scope.apiUsers=res.data;
        });



  		$scope.doRequest = function() {

	
    	
	
		$http.jsonp("https://librivox.org/api/feed/audiobooks/author/Melville?format=jsonp&callback=JSON_CALLBACK")
    		.success(function (data ,status , header , conf) {
				console.log(data);
        		

	    });
	   $http.jsonp("https://api-ak.wunderground.com/api/606f3f6977348613/history_2016012320160131/units:metric/v:2.0/q/pws:KNYNEWYO395.json?format=jsonp&callback=JSON_CALLBACK")
    		.success(function (data ,status , header , conf) {
				console.log(data);
				console.log(data.response);
				console.log(data.history);
        		console.log("dentro");
				$scope.apiresponse =  data.response.termsofService;

	    });
	


		}	

		$scope.doRequest();


      });
    }]);






  </script>


  
  
  
</form>
